@model ProjectYogaMed.Models.UserDisease

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserDisease</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserIdFk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserIdFk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiseaseIdfk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiseaseIdfk)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Udid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <partial name="DView" />
</div>
