@model ProjectYogaMed.Models.YogaTable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>YogaTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YogaName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YogaName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YogaStep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YogaStep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ydfk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ydfk.DiseaseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.YogaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <partial name="DView" />
</div>
