@model ProjectYogaMed.Models.UserDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Useremail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Useremail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usercontact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usercontact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dob)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <partial name="DView" />
</div>
